<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>inline-emoji-picker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1409EA2D2DFF04BE00B86EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1409EA3E2DFF04BE00B86EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1409EA482DFF04BE00B86EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
